<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<title>Add Employee</title>
</head>
<body>

	<div class="container">
	<h2>Add Employee</h2>
	<hr>
	<form th:action="@{/employee/save}" th:object="${employee}" method="post">
		<input type="hidden" th:field="*{id}">
		<input type="text" th:field="*{firstName}" class="form-control mb-4 col-4" placeholder="First name">
		<input type="text" th:field="*{lastName}" class="form-control mb-4 col-4" placeholder="Last name">
		<input type="email" th:field="*{email}" class="form-control mb-4 col-4" placeholder="Email">
		<button type="submit" class="btn btn-info col-2">Save</button>
	</form>
	<hr>
	<a th:href="@{/employee/list}">Back to Employee list</a>
	</div>
</body>
</html>